* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.container {
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
}

label {
    font-family: sans-serif;
    margin: 10px;
    font-weight: 500;
    align-self: flex-start;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.resultSection {
    margin: 10px 0;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}